<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Figaro" type="Figaro.Configuration.FigaroSection, Figaro.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <Figaro configSource="Figaro.config"/>
  <appSettings>
    <!-- You can specify a path to where your license key is installed. By default it resides in your bin directory. -->
    <add key="figaro:licensePath" value=""/>
    <!-- You will need an install code in order for Figaro to work. You can obtain one at https://licensing.endpointsystems.com  -->
    <add key="figaro:installCode" value=""/>
    <add key="usersPath" value="beer.stackexchange.com"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="Default" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
