<Figaro xmlns="http://schemas.bdbxml.net/configuration/6.0/HA">
  <!-- see http://help.bdbxml.net/html/N_Figaro_Configuration.htm for more information. -->
  <DefaultContainerSettings
      allowCreate="true" compression="false" containerType="WholeDocContainer"
      threaded="true" transactional="true" statistics="On"/>
  <Managers>
    <XmlManager name="userMgr" defaultContainerType="NodeContainer" env="userEnv" options="AllOptions"/>
  </Managers>
  <Environments>
    <FigaroEnv name="userEnv" threadCount="10">
      <Open create="true" home="D:\bdbxml\beer" options="InitMemoryBufferPool Recover SystemSharedMem Create Thread TransactionDefaults"/>
      <Cache gigaBytes="1" regions="1"/>
      <CacheMax gigaBytes="4"/>
      <DataDirectories>
        <Directory create="true" path="data"/>
      </DataDirectories>
      <Locking maxLockers="100000" maxLockObjects="200000" maxLocks="100000" partitions="4" timeout="100000"/>      
      <Log create="true" directory="D:\bdbxml\beer\log" maxFileSize="20971520" logOptions="Direct DSync"/>
      <Encryption enabled="false"/>
      <EnvConfig>
        <ConfigItem enabled="true" setting="DirectDB"/>
      </EnvConfig>
      <Tracing category="All" level="All" errorPrefix="HadERR"/>
    </FigaroEnv>
  </Environments>
</Figaro>